.ContactCenterbtn{
  background-color: white;
  border-style: solid;
  border-radius: 10%;
  border-color: #05424d;
  border-width: 2px;
  color: #05424d;
  font-weight: 500;
}

.add:hover{
  border-color:  white;
}
.add :hover{
  background-color: rgb(56, 175, 102);
  color: white;
}

.clear:hover{
  border-color:  white;
}
.clear :hover{
  background-color: rgb(208, 211, 44);
  color: white;
}
